<!--File name: index.hbs
Author's name: Simranpreet Kaur (200427339)
Website name: http://localhost:3000/ and https://a-2-hospital-management.herokuapp.com
 Description: This file contain the view for doctor page and data of this page from mongoDB. -->

<h1>Doctors Info</h1>

<!-- Content of index view of doctor -->
<a href="/tasks/add"> Add a New Doctor info</a>
<table class="table table-striped table-hover">
    <tr>
        <th>Doctor Name</th>
        <th>Specialties in</th>
        <th>Gender</th>
        <th>Availability</th>
        <th>Priority</th>
        <th>Actions</th>
    </tr>

    {{#each tasks}}
    <tr>
        <td> {{this.name}} </td>
        <td> {{this.specialties}} </td>
        <td> {{this.gender}} </td>
        <td> {{this.available}} </td>
        <td> {{this.priority}} </td>
        <td>
            <!--this._id is the MongoDB primary key for each specific task -->
            <a href="/tasks/edit/{{ this._id }}"> Edit </a>|
            <a href="/tasks/delete/{{ this._id }}" class="text-danger delete"> Delete </a>
        </td>
    </tr>

    {{/each}}

</table>

<!--Adding image-->
<!--From-- Image by <a href="https://pixabay.com/users/gdj-1086657/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2730772">Gordon Johnson</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2730772">Pixabay</a> -->
<div class="img-container">
    <img src="images/doctor.png" alt="doctor">
</div>
